@import "_variables.scss";

html,
body{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.tasks{
    display: grid;
    grid-template-columns: 1fr 2fr;

    .texttasks,
    .answers{
        @extend %main_subtask;

        h3{
            border-bottom: 1px solid black;
        }
    }

    li{
        margin-bottom: 10px;
    }

    details{
        font-style: italic;
    }

    summary{
        font-style: normal;
        color: rgb(69, 141, 170);
    }

    .answers{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .hidden-screen{
        display: none !important;
    }

    header{
        background-color: darkred;
        color: white;

        text-align: left;

        line-height: 40px;
        padding: 5px;
        font-size: 18px;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        .btn-search{
            padding: 0;

            background: none;
            color: white;

            border: none;
        }

        .basket{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            .fa{
                margin-right: 5px;
            }

            &:hover{
                border: 2px solid white;
            }
        }

        .basketList{
            border: 1px solid black;
            border-radius: 5px;

            background-color: white;
            color: black;
    
            min-height: 300px;
            width: 500px;
            padding: 20px;

            position: absolute;
            top: 100px;
            right: 5px;

            .basket-item{
                border-bottom: 1px solid black;
                // line-height: normal;
                // padding: 1px;
                
                display: grid;
                grid-template-columns: 20% 80%;

                img{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    margin: auto;
                }

                &::after{
                    content: '';
                    overflow: hidden;
                    clear: both;
                }
            }
        }

        .visible{
            display: block;
        }
    }

    .product-item{
        display: inline-block;
        text-align: center;

        border: 1px solid darkgray;
        margin: 5px;
        padding: 5px;
        width: 200px;

        img{
            height: 200px;
        }

        h4{
            margin-top: 10px;
            margin-bottom: 5px;
        }

        button{
            line-height: 25px;
            width: 30px;
            margin: 1px;
        }

        input{
            line-height: 25px;
            width: 40px;
        }

        .btnBuyIt{
            width: initial;
        }
    }

    .fa-plus-circle{
        font-size: 20px;
        color: green;

        &:hover{
            color:lightgreen;
            font-size: 22px;
        }
    }
}

.hamburger-constructor {
    width: 600px;
    margin-top: 20px;
    padding: 0 40px;
    box-shadow: 5px 5px 5px lightgrey;

    position: relative;

    // color: gray;

    .fa{
        position: absolute;
        top: calc((100% - 20px) /2);

        font-size: 40px;
        color: gray;

        &.fa-angle-right{
            right: 15px;
        }
        
        &.fa-angle-left{
            left: 15px;
        }

        &.hidden-arrow{
            display: none;
        }

        &:hover{
            color: yellowgreen;
        }
    }

    h2{
        margin: 5px;
        font-weight: 400;
    }

    hr{
        margin: 10px 0 0 0;
    }
}

section{
    hr{
        margin: 0 0 10px 0;
    }

    label{
        display: inline-block;

        min-width: 160px;
        margin: 10px;
        padding: 20px;
        
        border: 2px solid gray;
        border-radius: 10px;

        text-align: center;

        &:hover{
            border-color: yellowgreen;
        }

        input{
            display: none;
        }

        img{
            height: 100px;
        }

        .params{
            font-style: italic;
            color: gray;
            font-size: 70%;
        }

        .price{
            // font-size: 130%;
            font-weight: bold;
        }
    }
}

.task-hidden{
    display: none;
}

.error{
    font-style: italic;
    color: darkslategray;
}